<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MySwimmingApp"
        tools:targetApi="31">
        <activity
            android:name=".screens.SessionRequests"
            android:exported="false" />
        <activity
            android:name=".screens.MainActivity"
            android:exported="false" />
        <activity
            android:name=".screens.EditAccount"
            android:exported="false" />
        <activity
            android:name=".screens.SendRequest"
            android:exported="false" />
        <activity
            android:name=".screens.ScheduleActivity"
            android:exported="false" />
        <activity
            android:name=".screens.BasicExercisesActivity"
            android:exported="false" />
        <activity
            android:name=".screens.UsersList"
            android:exported="false" />
        <activity
            android:name=".screens.TutorInfo"
            android:exported="false" />
        <activity
            android:name=".screens.TutorsList"
            android:exported="false" />
        <activity
            android:name=".screens.TutorPage"
            android:exported="false" />
        <activity
            android:name=".screens.SwimmerPage"
            android:exported="false" />
        <activity
            android:name=".screens.Account"
            android:exported="false" />
        <activity
            android:name=".screens.About"
            android:exported="false" />
        <activity
            android:name=".screens.AdminPage"
            android:exported="false" />
        <activity
            android:name=".screens.Register"
            android:exported="false" />
        <activity
            android:name=".screens.Login"
            android:exported="false" />
        <activity
            android:name=".screens.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>